.main-container {
  background-color: rgb(251, 194, 235);
  width: 100%;
  padding: 0%;
  margin: 0px auto;
}

.heading {
  text-align: center;
  margin: 0px auto;
  padding: 20px;
}

.description{
  text-align: center;
  margin: 0px auto;
  padding: 12px;
  font-size: 18px;
}
.search-from {
  display: flex;
  justify-content: center;
  align-content: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  box-shadow: 0px 0px 5px rgb(71, 71, 71);  
  border-radius: 20px 0px 0px 20px;

}

.search-button {
  background-color: e9cae0;
  border: none;
  padding: 11px 20px;
  color: black;
  box-shadow: 0px 0px 5px rgb(71, 71, 71);
  border-radius: 0px 20px 20px 0px;
}

.recipe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
